mixin social(modifier)
  ul.social(class=modifier)
    li.social__item
      a.social__link(href="#")
        svg.social__icon(width="32", height="32"): use(xlink:href="#icon-in")
        span.visually-hidden Instagram
    li.social__item
      a.social__link(href="#")
        svg.social__icon(width="42", height="26"): use(xlink:href="#icon-vk")
        span.visually-hidden VKontakte
    li.social__item
      a.social__link(href="#")
        svg.social__icon(width="34", height="29"): use(xlink:href="#icon-tw")
        span.visually-hidden Twitter
