mixin slider-controls(idPrev, idNext)
  .slider__controls
    button.slider__button.slider__button--prev(type="button", id=idPrev) Назад
      svg.slider__icon(width="10", height="16"): use(xlink:href="#icon-arrow")
    button.slider__button.slider__button--next(type="button", id=idNext) Вперед
      svg.slider__icon(width="10", height="16"): use(xlink:href="#icon-arrow")
