mixin slider-controls(idPrev, idNext)
  .slider__controls
    button.slider__button.slider__button--prev(id=idPrev)
      span.visually-hidden Назад
      svg.slider__icon: use(xlink:href="#icon-arrow")
    button.slider__button.slider__button--next(id=idNext)
      span.visually-hidden Вперед
      svg.slider__icon: use(xlink:href="#icon-arrow")

mixin slider-dots(dotNumber)
  .slider__dots
    - for(var i = 0; i < dotNumber; i++)
        span.slider__dot
