nav.main-navigation.page-header__main-navigation
  a.main-navigation__link--logo Cakes
  button.main-navigation__button: span(aria-label="Навигация по сайту") Меню
  ul.main-navigation__list
    li.main-navigation__item: a.main-navigation__link(href="#catalog") Наши торты
    li.main-navigation__item: a.main-navigation__link(href="#order") Индивидуальный заказ
    li.main-navigation__item: a.main-navigation__link(href="#reviews") Отзывы
    li.main-navigation__item: a.main-navigation__link(href="#about") О нас
    li.main-navigation__item: a.main-navigation__link(href="#make-order") Как заказать
    li.main-navigation__item: a.main-navigation__link(href="#contact") Контакты
  a.main-navigation__phone(href="tel:+79068999296") +7 906 899 92 96
