nav.main-navigation.page-header__main-navigation
  a.main-navigation__link--logo Cakes
  button.main-navigation__buton: span(aria-label="Навигация по сайту")
  ul.main-navigation__list
    li.main-navigation__item: a.main-navigation__link(href="#") Наши торты
    li.main-navigation__item: a.main-navigation__link(href="#") Индивидуальный заказ
    li.main-navigation__item: a.main-navigation__link(href="#") Отзывы
    li.main-navigation__item: a.main-navigation__link(href="#") О нас
    li.main-navigation__item: a.main-navigation__link(href="#") Как заказать
    li.main-navigation__item: a.main-navigation__link(href="#") Контакты
  a.main-navigation__phone(href="tel:+79068999296") +7 906 899 92 96
