include ../social/social

section.about
  h2.about__heading О нас
  picture
   img.about__image(src="img/about.png")
  +social("social--vertical")
  h3.about__subheading.about__subheading--italic О кондитере
  h3.about__subheading Кондитер - как призвание
  p.about__text Павел — профессиональный повар в различных гастрономических областях, но однажды его сердце покорило кондитерское искусство. С ранних лет он увлекался утонченным мастерством и обратился к своим талантам как кондитер.
  h3.about__subheading Принцип - натуральные ингридиенты
  p.about__text Сегодня Павел радует изделиями не только близких, но и тех, кто предпочитает качественную продукцию для торжества, а главным принципом является выбор натуральных ингредиентов.
  blockquote.about__quote
    p Я за простые рецепты. В Италии это называют <em>cucina povera</em>: когда обычные ингредиенты превращаются в божественное блюдо.
    cite
      span.visually-hidden Павел
      img.about__sign(src="img/about-sign.png", alt="Павел")
|
|
