.heading {
  @include fontPlayfair();

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: $text;
}

.heading--large {
  font-size: 40px;
  line-height: 34px;
  letter-spacing: 3px;
}

.heading__subheading {
  @include fontIntroScript();

  display: block;
  font-size: 22px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: 0;
  color: $text-darkblue;
}

@media screen and (min-width: $screen-tablet) {
  .heading {
    font-size: 28px;
  }

  .heading--large {
    font-size: 60px;
    line-height: 55px;
    letter-spacing: 4px;

    .heading__subheading {
      font-size: 36px;
    }
  }
}

@media screen and (min-width: $screen-desktop) {
  .heading {
    font-size: 40px;
  }

  .heading__subheading {
    font-size: 35px;
    font-weight: 400;
  }

  .heading--large {
    font-size: 78px;
    line-height: 70px;
    letter-spacing: 6px;

    .heading__subheading {
      font-size: 41px;
    }
  }
}
