.page-header {
  background: url("../img/page-header-sm.png") no-repeat center -165px;
}

.page-header__wrapper {
  padding: 0 6.25%;
  text-align: center;
}

.page-header__heading {
  margin-top: 130px;
  margin-bottom: 16px;
}

.page-header__heading .heading__subheading {
  margin-top: 22px;
}

.page-header__box {
  margin: 0 auto 29px auto;
  max-width: 400px;
}

.page-header__feature {
  padding: 5px 0 15px 42px;
  margin: 0 0 8px;
  min-height: 33px;
  text-align: left;
  font-size: 14px;
  color: $black;
}

.page-header__feature--1 {
  background: url("../img/leaf.svg") no-repeat left 3px;
}

.page-header__feature--2 {
  background: url("../img/gift.svg") no-repeat left 5px;
}

.nojs {
  @media screen and (max-width: 1365px) {
    .page-header {
      background-position: center 80px;
    }

    @media screen and (min-width: $screen-tablet) {
      .page-header {
        margin-bottom: 74px;
        background: url("../img/page-header-tb.png") no-repeat right 336px;
      }
    }
  }
}

@media screen and (min-width: $screen-tablet) {
  .page-header {
    margin-bottom: 74px;
    background: url("../img/page-header-tb.png") no-repeat right 73px;
  }

  .page-header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .page-header__heading {
    margin: 103px 0 60px;
    max-width: 300px;
    text-align: left;

    .heading__subheading {
      margin-top: 31px;
    }
  }

  .page-header__box {
    display: flex;
    flex-direction: row;
    order: 1;
    margin: 0 0 20px;
    max-width: 550px;
  }

  .page-header__feature {
    padding: 20px 10px 5px 66px;
    margin-bottom: 0;
    min-height: 60px;
    background-size: 55px;
  }

  .page-header__button {
    margin: 0 0 145px;
  }
}

@media screen and (min-width: $screen-desktop) {
  .page-header {
    padding: 60px 73px 290px;
    margin-bottom: -57px;
    background: url("../img/page-header-dt.png") no-repeat right 104px;
  }

  .page-header__wrapper {
    padding: 0;
  }

  .page-header__heading {
    margin: 140px 0 70px;

    .heading__subheading {
      margin-top: 34px;
    }
  }

  .page-header__button {
    margin-bottom: 124px;
  }
}
