header.page-header
  include ../main-navigation/main-navigation
  .page-header__wrapper
    h1.heading.heading--large.page-header__heading Торты на&nbsp;заказ
      em.heading__subheading Ручная работа
    .page-header__box
      p.page-header__feature.page-header__feature--1 Натуральные ингредиенты
      p.page-header__feature.page-header__feature--2 Доставка бесплатно при заказе от&nbsp;2000&nbsp;рублей<sup>*</sup>
    a.button.button--wide.page-header__button(href="#") Выбрать торт
|
|
