header.page-header
  include ../main-navigation/main-navigation
  .page-header__wrapper
    h1.heading.page-header__heading Торты на заказ
      em.heading__subheading Ручная работа
    .page-header__box
      p.page-header__feature.page-header__feature--1 Натуральные ингредиенты
      p.page-header__feature.page-header__feature--2 Доставка бесплатно при заказе от 2000 рублей<sup>*</sup>
    a.button.page-header__button(href="#") Выбрать торт
|
|
