mixin category(categoryName, numberOfTypes, imgSrc)
  a.category__link(href="#")
    .category__box
      h3.category__name= categoryName
      span.category__quantity= numberOfTypes
    picture
      img(src=imgSrc, alt=categoryName, width="280", height="120")
