.reviews {
  padding: 15px 6.25%;
  margin-bottom: 8px;
}

.reviews__heading {
  margin: 0 0 18px;
}

.reviews__slider .slider__controls {
  display: none;
}

.reviews__list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__item {
  width: 100%;
  flex-shrink: 0;
}

.review {
  padding: 0 25px 10px;
  text-align: center;
  color: $text;
}

.review__image {
  display: block;
  margin: 0 auto 4px;
  width: 58px;
  height: 58px;
}

.review__author {
  font-size: 14px;
  font-weight: bold;
}

.review__about {
  margin: 0 0 7px;
  font-size: 12px;
}

.review__message {
  max-width: 400px;
  margin: 0 auto 10px;
  font-size: 12px;
  line-height: 15px;
}

.review__expand {
  padding: 0;
  font-size: 12px;
  text-decoration: underline;
  font-style: italic;
  color: $arrow;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.review__counter {
  font-size: 14px;
  color: $page-lightred;
}
