.reviews {
  padding: 15px 6.25%;
  margin-bottom: 8px;
}

.reviews__heading {
  margin: 0 0 18px;
}

.reviews__slider .slider__controls {
  display: none;
}

.reviews__list {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__item {
  width: 100%;
  flex-shrink: 0;
}

.review {
  padding: 0 25px 10px;
  text-align: center;
  color: $text;
}

.review__image {
  display: block;
  margin: 0 auto 4px;
  width: 58px;
  height: 58px;
}

.review__author {
  font-size: 14px;
  font-weight: bold;
}

.review__about {
  margin: 0 0 7px;
  font-size: 12px;
}

.review__message {
  max-width: 400px;
  margin: 0 auto 10px;
  font-size: 12px;
  line-height: 15px;
}

.review__expand {
  padding: 0;
  font-size: 12px;
  text-decoration: underline;
  font-style: italic;
  color: $arrow;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.review__counter {
  font-size: 14px;
  color: $page-lightred;
}

@media screen and (min-width: $screen-tablet) {
  .reviews {
    padding: 40px 156px 15px;
    margin-bottom: 86px;
    background: url("../img/reviews-left-bg.png") no-repeat left top,
    url("../img/reviews-right-bg.png") no-repeat right top;
    background-size: 300px;
  }

  .reviews__heading {
    margin-bottom: 16px;
  }

  .review {
    display: flex;
    justify-content: center;
    padding: 10px 25px;
  }

  .review__image {
    margin: 28px 26px 0 0;
    width: 108px;
    height: 108px;
  }

  .review__box {
    text-align: left;
  }

  .review__author {
    font-size: 16px;
  }

  .review__about {
    margin-bottom: 11px;
    font-size: 14px;
  }

  .review__message {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 17px;
  }

  .review__expand {
    display: block;
    font-size: 14px;
  }

  .review__counter {
    display: block;
    text-align: right;
  }
}

@media screen and (min-width: $screen-desktop) {
  .reviews {
    margin-bottom: 154px;
    padding: 113px 300px 20px;
    background-size: 547px;
  }

  .reviews__heading {
    margin-bottom: 28px;
  }

  .review {
    padding: 10px 0 0 60px;
  }

  .review__image {
    margin-right: 54px;
    width: 209px;
    height: 209px;
  }

  .review__box {
    width: 430px;
    padding-top: 25px;
  }

  .review__author {
    font-size: 27px;
  }

  .review__about {
    margin-bottom: 24px;
    font-size: 20px;
  }

  .review__message {
    max-width: 370px;
    margin: 0 0 10px;
    font-size: 18.5px;
    line-height: 24.5px;
  }

  .review__expand {
    display: inline;
    font-size: 18px;
  }

  .review__counter {
    font-size: 18px;
  }
}
