.appearance {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 6.25% 25px;
}

.appearance__slider {
  .slider__controls {
    top: 75px;
    padding: 0 calc(0.2 * calc(100vw - 320px));
  }
}

.appearance__box {
  position: relative;
  margin-bottom: 27px;
}

.appearance__image {
  width: 169px;
  height: 196px;
  box-shadow: 0 7px 12px 1px rgba(0, 0, 0, 0.1);
}

.appearance__counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: $text-grey;
}

.appearance__name {
  margin: 0 0 5px;
  font-size: 14px;
  font-style: normal;
  color: $text-dark;
}

.appearance__price {
  @include fontPlayfair();

  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  color: $text-dark;
}

.appearance__button {
  margin-top: auto;
}

@media screen and (min-width: $screen-tablet) {
  .order__subitem.appearance {
    flex-basis: auto;
  }

  .appearance {
    position: relative;
    padding: 0;
    margin: 20px;
    min-height: 263px;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &:last-child {
      padding-right: 20px;

      .appearance__button {
        margin-right: 20px;
      }
    }
  }

  .appearance__slider {
    padding: 20px 84px 15px 198px;
    background: url("../img/appearance-bg.png") no-repeat 3px 121px;
    background-size: 119px;

    .slider__controls {
      top: 44%;
      width: 76%;
      padding: 0;
      transform: translateX(-39%);
    }

    .slider__inner {
      margin: 0 auto;
      max-width: 446px;
    }

    .slider__item--show + .slider__item {
      position: relative;
      display: flex;
    }
  }

  .appearance__box {
    margin-bottom: -60px;
  }

  .appearance__image {
    width: 196px;
    height: 263px;
  }

  .appearance__name {
    position: relative;
  }

  .appearance__price {
    position: relative;
    margin-bottom: 0;
    font-size: 14px;
  }

  .appearance__button {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 0;
    width: auto;
    font-size: 0;
    background-color: transparent;
    border-radius: 0;

    &:hover {
      box-shadow: 0 7px 12px 2px rgba(0, 0, 0, 0.1);
    }

    &:active {
      background-color: transparent;
    }
  }
}

@media screen and (min-width: $screen-desktop) {
  .appearance {
    min-height: 431px;

    &:not(:last-child) {
      margin-right: 21px;
    }
  }

  .appearance__slider {
    padding: 45px 65px 40px 260px;
    background-position: 17px 199px;
    background-size: 252px;

    .slider__controls {
      top: 47%;
      width: 72%;
    }

    .slider__inner {
      max-width: 715px;
    }
  }

  .appearance__box {
    margin-bottom: -84px;
  }

  .appearance__image {
    width: 321px;
    height: 431px;
  }

  .appearance__name {
    font-size: 20px;
    margin-bottom: 0;
  }

  .appearance__price {
    font-size: 22px;
  }
}
