section.make-order
  h2.heading.make-order__heading(id="make-order") Как заказать
  ol.make-order__list
    li.make-order__item
      b.make-order__step Срок заказа
      p.make-order__descr Размещать заказы желательно за 2-3 дня. На выходные заказы лучше размещать минимум за неделю.
    li.make-order__item
      b.make-order__step Доставка по городу
      p.make-order__descr Доставка в пределах города 200 рублей, при заказе на сумму более 2000 доставка бесплатно.
    li.make-order__item
      b.make-order__step Доставка за городом
      p.make-order__descr Доставка за пределами города рассчитывается индивидуально.
|
|
