.catalog {
  margin-bottom: 45px;
  padding: 44px 6.25% 0;
}

.catalog__heading {
  margin: 0 0 31px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.catalog__item {
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
