include ../category/category

section.catalog
  h2.heading.catalog__heading(id="catalog") Наши торты
  ul.catalog__list
    - for(var i = 0; i < catalog.length; i++)
      if(i == 0 || i == 5)
        li.catalog__item.category.catalog__item--large: +category(catalog[i].categoryName, catalog[i].numberOfTypes, catalog[i].img)
      else
        li.catalog__item.category: +category(catalog[i].categoryName, catalog[i].numberOfTypes, catalog[i].img)

|
|
