include ../category/category

section.catalog
  h2.heading.catalog__heading Наши торты
  ul.catalog__list
    - for(var i = 0; i < catalog.length; i++)
      li.catalog__item.category: +category(catalog[i].categoryName, catalog[i].numberOfTypes, catalog[i].imgSrc)
|
|
