include ../social/social

footer.page-footer
  a.page-footer__logo Cakes
  ul.page-footer__list
    li.page-footer__item: a.page-footer__link(href="#catalog") Наши торты
    li.page-footer__item: a.page-footer__link(href="#order") Индивидуальный заказ
    li.page-footer__item: a.page-footer__link(href="#reviews") Отзывы
    li.page-footer__item: a.page-footer__link(href="#about") О нас
    li.page-footer__item: a.page-footer__link(href="#make-order") Как заказать
    li.page-footer__item: a.page-footer__link(href="#contact") Контакты
  a.page-footer__phone(href="tel:+79068999296") +7 906 899 92 96
  +social("social--grey page-footer__social")
  p.page-footer__copyright &copy; 2018 Cakes

