.page-footer {
  padding: 40px 6.25% 10px;
  background-color: $footer;
  color: $text-light;
}

.page-footer__logo {
  @include fontPlayfair();

  display: block;
  margin-bottom: 23px;
  font-size: 28px;
  letter-spacing: 1px;
}

.page-footer__list {
  margin: 0 0 12px;
  padding: 0;
  list-style: none;
}

.page-footer__item {
  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.page-footer__link {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: $text-light;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__phone {
  display: block;
  margin-bottom: 28px;
  font-size: 14px;
  color: $text-light;
}

.page-footer__social {
  margin-bottom: 30px;
}

.page-footer__copyright {
  margin: 0;
  padding-top: 10px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: $screen-tablet) {
  .page-footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 27px 2.6% 11px;

    &::before {
      position: absolute;
      bottom: 48px;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      width: 83%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .page-footer__list {
    display: flex;
    flex-shrink: 0;
    margin: 0 0 43px auto;
  }

  .page-footer__item {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 11px;
    }
  }

  .page-footer__link {
    display: block;
    padding: 10px 14px;
    font-size: 12px;
  }

  .page-footer__logo {
    margin: 0 0 43px;
    font-size: 18px;
  }

  .page-footer__phone {
    display: none;
  }

  .page-footer__social {
    flex-basis: 48%;
    flex-shrink: 0;
    order: 1;
    margin: 0;
    padding-left: 21px;
  }

  .page-footer__copyright {
    flex-basis: 48%;
    flex-shrink: 0;
    padding: 0 11px 0 0;
    text-align: right;
    letter-spacing: 0.8px;
    border-top: none;
  }
}

@media screen and (min-width: $screen-desktop) {
  .page-footer {
    align-items: flex-start;
    padding: 35px 73px 20px;
    color: $text;
    background-color: $footer-desktop;

    &::before {
      display: none;
    }
  }

  .page-footer__logo {
    font-size: 28px;
    margin-bottom: 0;
  }

  .page-footer__list {
    margin: 0 auto;
  }

  .page-footer__link {
    font-size: 16px;
    color: $text;
  }

  .page-footer__social {
    flex-basis: auto;
    order: 1;
    margin-top: 9px;

    .social__icon {
      fill: $black;
      opacity: 0.4;
    }
  }

  .page-footer__copyright {
    order: 2;
    flex-basis: 100%;
    margin-top: 37px;
    padding: 17px 0 5px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

