.summary {
  margin: 0 6.25%;
  padding: 15px 6.25% 34px;
  background-color: $text-light;
}

.summary__heading {
  @include fontPlayfair();

  margin: 0 0 6px;
  font-size: 22px;
  color: $text;
}

.summary__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.summary__title {
  @include fontIntroScript();

  margin: 0;
  font-size: 20px;
  line-height: 30px;
  color: $page-red;
}

.summary__output {
  width: 100%;
  min-height: 30px;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: $text;
  border: 1px solid #dddddd;
  border-radius: 15px;
}

.summary__button {
  margin-top: 30px;
  width: 226px;
}

@media screen and (min-width: $screen-tablet) {
  .summary {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0 2.6%;
    padding-top: 0;
    padding-bottom: 46px;
    box-shadow: 0 5px 10px 0.3px rgba(163, 6, 60, 0.1);
  }

  .summary__heading {
    font-size: 18px;
    flex-basis: 100%;
  }

  .summary__box {
    min-width: 160px;
    margin-bottom: 0;
    margin-right: 20px;
    align-items: flex-start;

    &:nth-of-type(2) {
      min-width: 74px;
    }
  }

  .summary__button {
    width: 160px;
    padding: 14px 0;
    margin: 0 0 0 auto;
    font-size: 10px;
  }
}

@media screen and (min-width: $screen-desktop) {
  .summary {
    margin: 0 73px;
    padding: 0 73px 71px;
  }

  .summary__heading {
    margin-bottom: 19px;
    font-size: 27px;
  }

  .summary__box {
    min-width: 249px;
    margin-right: 0;

    &:nth-of-type(2) {
      min-width: 137px;
    }

    &:not(:last-of-type) {
      margin-right: 83px;
    }
  }

  .summary__title {
    font-size: 27px;
  }

  .summary__output {
    min-height: 45px;
    padding: 8px 3px;
    font-size: 18px;
    text-align: left;
    border: none;
    border-bottom: 1px solid #c1b0af;
    border-radius: 0;
  }

  .summary__button {
    padding: 18px 0;
    margin-right: 18px;
    width: 226px;
    font-size: 13px;
  }
}
