.summary.order__summary
  h3.summary__heading Ваш выбор
  .summary__box
    p.summary__title Начинка
    p.summary__choice Шоколадный ганаш
  .summary__box
    p.summary__title Размер
    p.summary__choice 1 кг
  .summary__box
    p.summary__title Оформление
    p.summary__choice Маршмэллоу
  //- TODO summary fields
  button.button.summary__button.order__button(type="submit") Заказать торт
