.care {
  padding: 33px 6.25% 174px;
  background: url("../img/care-bg.png") no-repeat center 166px;
}

.care__heading {
  margin: 0 0 2px;
  text-align: left;

  .heading__subheading {
    margin-top: 5px;
  }
}

.care__text {
  margin: 0;
  font-size: 14px;
  color: $black;
}

@media screen and (min-width: $screen-tablet) {
  .care {
    margin-top: -97px;
    padding: 167px 6.25% 130px;
    background: url("../img/care-bg-large.png") no-repeat right top;
  }

  .care__heading .heading__subheading {
    font-size: 26px;
    margin: 9px 0 8px;
  }

  .care__text {
    max-width: 50%;
  }
}

@media screen and (min-width: $screen-desktop) {
  .care {
    margin-top: -176px;
    padding: 342px 73px 257px;
    background-image: url("../img/care-bg-desktop.png");
  }

  .care__heading .heading__subheading {
    margin: 34px 0 16px;
    font-size: 35px;
  }

  .care__text {
    max-width: 40%;
    font-size: 20px;
  }
}
