section.care
  h2.heading.care__heading Забота о клиентах
    em.heading__subheading Для нас важно
  p.care__text Нам важно чтобы каждый торт был безупречным, как внутри, так и снаружи, чтобы он был создан исключительно для вас и для вашего события.
|
|
