extends templates/base

block content
  main.page-main
    include blocks/catalog/catalog
    include blocks/order/order
    include blocks/review/review
    include blocks/about/about
    include blocks/features/features
    include blocks/care/care
    include blocks/make-order/make-order
