html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Circe", "Arial", sans-serif;
  background-color: $body-bg;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

picture {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: $screen-mobile;
  max-width: $screen-mobile;
  margin: 0 auto;
}

.nojs {
  .page-header {
    background-position: center 80px;
  }

  .main-navigation__list {
    display: block;
  }
}
