/* Sizes */

$screen-mobile: 320px;
$screen-tablet: 768px;
$screen-desktop: 1366px;

/* Colors */

$black: #000000;
$body-bg: #fbebea;
$page-red: #f50049;
$page-lightred: rgba(245, 0, 73, 0.7);

$shadow-red: rgba(255, 0, 67, 0.3);

$arrow: #f17d91;
$order: #dd2d38;
$footer: #898989;
$footer-desktop: #e8e8e8;

$text: #2d2829;
$text-light: #ffffff;
$text-grey: #757575;
$text-darkgrey: #383838;
$text-dark: #2f2f2f;
$text-darkblue: #32313d;

$navigation-bg: #e7e7e7;
