.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6.25% 25px;
}

.content__box {
  position: relative;
  margin-bottom: 38px;
}

.content__image {
  display: block;
  width: 240px;
}

.content__counter {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  color: $text-light;
}

.content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.content__name {
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: bold;
  color: $text-dark;
}

.content__descr {
  margin: 0 0 15px;
  font-size: 14px;
  text-align: left;
  color: $text-dark;
}

.content__price {
  @include fontPlayfair();

  margin-top: auto;
  margin-bottom: 25px;
  text-align: center;
  font-size: 18px;
  color: $text-dark;
}

@media screen and (min-width: $screen-tablet) {
  .content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 53px 120px 56px 23px;
  }

  .content__slider {
    padding-left: 150px;
  }

  .content__box {
    margin-bottom: 0;
    flex-shrink: 0;
  }

  .content__image {
    width: 210px;
    height: 239px;
  }

  .content__counter {
    bottom: 54px;
    right: 73px;
    color: $text-grey;
  }

  .content__wrapper {
    align-items: flex-start;
    margin-left: 25px;
    padding-top: 23px;
    max-width: 200px;
  }

  .content__name {
    font-size: 18px;
  }

  .content__descr {
    margin-bottom: 10px;
  }

  .content__price {
    margin-bottom: 27px;
    font-size: 20px;
  }

  .content__button {
    margin-left: 0;
    padding: 14px 0;
    width: 135px;
    font-size: 10px;
  }
}
