section.features
  h2.heading.features__heading Наши преимущества
    em.heading__subheading Почему нас выбирают?
  ul.features__list
    li.features__item.features__item--1
      b.features__name Без искусственных добавок
      p.features__descr Работаем с натуральными ингредиентами и свежими продуктами
    li.features__item.features__item--2
      b.features__name Свежий торт в день торжества
      p.features__descr Торты изготавливаются в течение суток до отправки
|
|
